/* --- common ---*/

.wrapper
{
	width: 800px;
}


/* --- header ---*/

.headerColumn
{
	width:376px;
}


#headerLabel
{
	font-size: 200%
}


.codecTile
{
	width:378px;
	margin-bottom:32px;
}


.codecTileLeftColumn
{
	margin-right:32px;
}


/* --- send details ---*/

#sendDetailsInputs
{
	width:576px;
}


.greyButton
{
	padding: 14px 16px;
}

#sendDetailsInputs .detailsInput
{
	width:163px;
	padding:2px;
}


.detailsInputLeftMargin
{
	margin-left:16px;
}


#sendDetailsButton
{
	width:48px;
	padding:24px 48px;
	margin-left:32px;
}


.emailFollowUpTile
{
	width: 760px;
	padding: 24px 16px;
}


#sendDetailsConfirmation
{
	background:#98e052;
	background-image: url("../images/tile-gradient.png");
}


#sendDetailsError
{
	background:#f78989;
	background-image: url("../images/tile-gradient.png");
}


.newLine
{
	display: inline;
}
