/* --- common ---*/

.wrapper
{
	width: 272px;
}


/* --- header ---*/

#headerLabel
{
	font-size: 32px;
}


.headerColumn
{
	width:272px;
	display: block;
}


#header h3
{
	text-align: left;
}


/* --- content ---*/

.codecTile
{
	width: 126px;
	margin-bottom:16px;
}


.codecTileLeftColumn
{
	margin-right:16px;
}


.supportedLabel
{
	padding: 16px;
	font-size: 85%;
}


.supportedLabel .brackets
{
	font-size: 75%;
}


/* --- send details ---*/

.greyButton
{
	padding: 24px;
	background: #ccc;
	background-image: url("../images/tile-gradient-2.png");
}


#sendDetailsInputs
{
	width:224px;
}


#sendDetailsInputs .detailsInput
{
	width:216px;
}


.detailsInputLeftMargin
{
	margin:20px 0 0 0;
}


#sendDetailsButton
{
	width:224px;
	margin:16px 0 0 0;
	padding:24px;
}


.emailFollowUpTile
{
	width: 224px;
	padding: 24px;
}


#sendDetailsConfirmation
{
	background:#98e052;
	background-image: url("../images/tile-gradient-2.png");
}


#sendDetailsError
{
	background:#f78989;
	background-image: url("../images/tile-gradient-2.png");
}


.newLine
{
	display: block;
}


/* --- footer ---*/

.column
{
	width:272px;
}


.leftColumn
{
	margin-right: 0;
}


.rightColumn
{
	
}