/* --- common ---*/

.wrapper
{
	width: 544px;
}


/* --- header ---*/

#headerLabel
{
	font-size: 160%;
}


.headerColumn
{
	width:250px;
	display: inline-block;
}


#header h1
{
	margin:0 24px 0 0;
}


#header h3
{
	text-align: right;
}


.url
{
	display: block;
}


.author
{
	line-height:14px;
}


/* --- content ---*/

.codecTile
{
	width: 254px;
	margin-bottom:24px;
}


.codecTileLeftColumn
{
	margin-right:24px;
}


.supportedLabel
{
	padding:32px 0;
	font-size: 100%;
}


/* --- send details ---*/

#sendDetailsInputs
{
	width:512px;
}


.greyButton
{
	padding:16px;
	margin:0;
}


#sendDetailsInputs .detailsInput
{
	width:480px;
	margin: 8px;
	padding: 4px;
}


.detailsInputLeftMargin
{
	margin-left:0px;
}


#sendDetailsButton
{
	width:544px;
	padding:12px 0;
	margin:24px 0 0 0;
}


.emailFollowUpTile
{
	width: 512px;
	padding: 24px 16px;
}


#sendDetailsConfirmation
{
	background:#98e052;
	background-image: url("../images/tile-gradient.png");
}


#sendDetailsError
{
	background:#f78989;
	background-image: url("../images/tile-gradient.png");
}


.newLine
{
	display: inline;
}


/* --- footer ---*/

.column
{
	width:48%;
	float: left;
}


.rightColumn
{
	margin-left: 4%;
}